.App, .container {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-title {
  margin: 30px;
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
}

.strong {
  font-weight: bold;
}

.post-frame {
  width: 100%;
  max-width: 900px;
  padding: 30px;
  margin: 30px auto;
  /* border: 8px solid #dad7d7; */
  border: 8px solid #99cc99;
  border-radius: 3px;
  cursor: pointer;
}

.post-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid lightgrey;
  justify-content: space-evenly;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 30%;
  margin-right: 30%;
}

.category {
  font-weight: bold;
  text-transform: capitalize;
}
.nav-element {
   padding: 3px 20px 20px 20px;

}

.category-name {
  font-weight: bold;
}



.post-main {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 150px;
}

.vote-img {
   border-right: 2px solid lightgrey;
   padding-right: 10px;
   text-align: left;

}

.post-title {
    font-style: italic;
    font-weight: bold;
    /* padding-left: 10px; */
    /* width: 70%; */
    font-size: 24px;
    padding-top: 20px;
}

.post-vote {
    width: 10%;
    height: 30px;
}

.post-edit-controls {
    width: 10%;
}
.post-body {
    margin: 30px;
    padding: 30px;
    border: 5px solid lightgrey;
}

.comment-frame {
  width: 100%;
  height: 200px;
  max-width: 800px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.comment-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.comment-vote {
  width: 10%;
  height: 30px;
  text-align: center;
}

.comment-body {
  /* width: 70%; */
  margin: 30px;
}

.comment-edit-controls {
  /* width: 100%;
  text-align: right; */
}

input[type=text], textarea {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  height: 30px;
  width: 80%;
}

textarea {
  height: 150px;
}

.tiny-label {
  font-size: 14px;
}

.btn {
  margin: 5px;
  padding: 15px;
  font-size: 1.3em;
  cursor: pointer;
  border: 1px solid #5da6e6;
  background-color: aliceblue;
}

.btn-nav {
  text-transform: capitalize;
   border-radius: 15px;
}

.btn-function{
   border-radius: 15px;
   background-color: #5da6e6;
   margin-right: 30px;
}

.all-cat {
  font-style: italic;
}

.input-half {
  width: 42%;
  margin-bottom: 0;
}

.comment-count {
  margin-left: 40px
}
